---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Show booking">
	<main>
		<form method="post" action="https://nocodeform.io/f/63a018328bd6ea72c3ae1b5a">
			<input type="text" name="name" placeholder="Name" aria-label="Name" required>
			<input type="email" name="email" placeholder="Email address" aria-label="Email address" required>
			<input type="tel" name="phone" placeholder="Phone number" required> 
			<button type="submit" class="contrast">Send</button>
		</form>
	</main>
</Layout>
<style>
input {
	border: solid 1px var(--accent);
	margin: 10px 0;
	padding: 20px 0px;
	background-color: var(--background);
	color: var(--font);
	width: 100%;
}
input:hover {
	border: solid 1px var(--accent);
}
</style>