---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<main>
		<p>comedian, writer — child in primitive culture</p>
		<p><a href="https://7aux26p1mrz.typeform.com">He is available for shows.</a></p>
		<p><a href="https://journal.aryan.ink">He also fancies himself as a writer.</a></p>
		<p><a href="https://journal.aryan.ink/stuff-aryan-has-said">Tweets</a> - A list of funny tweets (also nostr).</p>
		<p><a href="./nostr">Nostr</a> -  Notes and Other Stuff Transmitted by Relays.</p>
		<p><a href="https://media.aryan.ink">Visit my gallery!</a></p>
	</main>
</Layout>