---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nostr">
	<main>
		<textarea rows="1" cols="20" wrap="soft">npub1fvz74te5kq2n6uv7tjsnpkdnllctn5adcxthalhk0sfm403zcyvqye3hu4</textarea> 
		<p><a href="https://snort.social/p/npub1fvz74te5kq2n6uv7tjsnpkdnllctn5adcxthalhk0sfm403zcyvqye3hu4">snort.social</a></p>
		<p><a href="https://nostr.directory/p/0thorderlogic">nostr.directory</a></p>
		<p><a href=".well-known/nostr.json">nostr.json</a></p>
	</main>
</Layout>