---
import { DESCRIPTION, HEADER } from '../const';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head> 
		<!-- Global Metadata -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Primary Meta Tags -->
		<title>{title + " - " + HEADER}</title>
		<meta name="title" content={HEADER} />
		<meta name="description" content={DESCRIPTION}>
		<meta property="og:image" content="social.png" />
		<meta name="keywords" content="Comic, Comedy Calcutta, Comic Aryan Singh, Singh's Journal, Aryan Singh, Aryan Singh Calcutta, Aryan Singh comedy"/>

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@0thorderlogic">
		<meta name="twitter:title" content={HEADER} />
		<meta name="twitter:description" content={DESCRIPTION} />
		<meta name="twitter:image" content="social.png" />
		
		<!-- CSS -->
		<link rel="stylesheet" href="https://directory.aryan.ink/style/global.css">

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
		<link rel="manifest" href="assets/favicon/site.webmanifest">
	</head>
	<body>
		<h1><a href="./">{HEADER}</a></h1>
		<slot />
		<footer>
			<p><a href="/">aryan.ink</a> - <a href="https://directory.aryan.ink">directory.aryan.ink</a> - <a href="https://gitlab.com/aryans-websites">source</a></p>
		</footer>
	</body>
</html>
<script
  type="text/partytown"
  src="https://www.googletagmanager.com/gtag/js?id=G-1NGHJL1C3N">
</script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1NGHJL1C3N');
</script>